* {
    font-family: Helvetica, Arial, sans-serif;
}
@media (prefers-color-scheme: light) {

    body {
        color: #00001c;
        background-color: #ffeedd;
    }

    a {
        color: #0022cc
    }
}

@media (prefers-color-scheme: dark) {

    body {
        color: #ffeedd;
        background-color: #00001c;
    }

    a {
        color: #00ccff
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95ch;
}

nav .active {
    font-weight:bold;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: end;
}

nav ul li:not(:last-child)::after {
    content: " |"
}

