* {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95ch;
}

nav .active {
    font-weight:bold;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: end;
}

nav ul li:not(:last-child)::after {
    content: " |"
}