nav {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 128ch;
}

nav ul .active {
    font-weight:bold;
}
nav ul li:first-child { float: left; }

nav ul li {
    display: inline;
    float: right;
    margin-right: 1ch;
}